<p>Laura working on the show view of one desk on desks/id </p>

<body>
<!--container for everything below the navbar-->
<div class="container_for_the_desk_show mt-5">
  <!--the name of the desk-->
  <div class="desk-header mb-4">
    <h2><%= @desk.title %> </h2>
  </div>

  <!--the caroussel showing the images of the desk-->
  <div class="desk-gallery mb-4">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <% @desk.photos.each_with_index do |photo, index| %>
          <div class="carousel-item active <%= 'active' if index == 0 %>">
            <%= image_tag photo, class: "d-block mx-auto", style: "height: 300px; width: auto;", alt: "desk photo" %>
          </div>
        <%end%>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <!--more details-->
  <div class="desk-details">
    <p><strong>Description:</strong><%=@desk.description%></p>
    <p><strong>Address:</strong><%=@desk.address%></p>
    <p><strong>Location:</strong><%=@desk.location%></p>
    <p><strong>Shared:</strong><%= @desk.shared ? "The space will be shared with others" : "you will have the entire space for yourself"%></p>
    <p><strong>Price:</strong><%=@desk.price%>$/day</p>

    <%= link_to "List Your Desk!", confirm_desk_path(@desk), class: "btn btn-primary" %>
    <p>I will need to make it nicer, and actually link the button to something </p>
  </div>


</div>


</body>



<!--the desk page-->


<!--to delete-->
